---
import { getCollection } from 'astro:content'
import { marked } from 'marked'

const categories = await getCollection('categories')
const wish_list = await getCollection('wish_list')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>/wish</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	</head>

	<body>

		<header>

      <h1>/wish</h1>

      <p>
        A collection of things around the internet (and off the internet) that I'd love to own. These are things I'd buy myself. Browse the whole list or jump to one of these categories:
        {categories.map(({ data: category }) => {
          const label = category.contents_name || category.name
          const anchor = category.anchor || category.contents_name || category.name

          return <span class="toc-link"><a href={`#${anchor?.toLowerCase()}`}>{label?.toLowerCase()}</a></span>
        })}.
      </p>

    </header>

    <main>

      {categories.map(({ id, data: category }) => {
        const header = category.name
        const anchor = category.anchor || category.contents_name || category.name
        const items = wish_list.filter(({ data: item }) => item.category?.[0] === id && !item.parent)
        
        return (
          <h2 id={anchor?.toLowerCase()}>{header}</h2>
          
          <ul role="list">
            {items.map(async ({ id, data: item }) => {
              if (item.has_children ?? false) {
                
                /*
                 * Nested items: like a type of puzzle with different versions...
                 */

                const price = item.price ? `$${item.price}` : undefined
                const text = await marked.parseInline(item.text ?? '')
                const children = wish_list.filter(({ data: item }) => item.parent?.[0] === id)

                return (
                  <li class="row align-baseline">
                    {price && <p>{price}</p>}
                    <details>
                      <summary set:html={text}></summary>

                      <ul role="list">
                        {children.map(async ({ data: item }) => {
                          const owned = item.is_owned ?? false
                          const price = item.price ? `$${item.price}` : undefined
                          const text = await marked.parseInline(item.text ?? '')
                          
                          return (
                            <li class:list={["row", "align-baseline", { owned }]}>
                              {price && <p>{price}</p>}
                              <p set:html={text}></p>
                            </li>
                          )
                        })}
                      </ul>
                    </details>
                  </li>
                )
                
              } else {

                /*
                 * Single items
                 */

                const owned = item.is_owned ?? false
                const price = item.price ? `$${item.price}` : '?'
                const text = await marked.parseInline(item.text ?? '')
                const note = item.acquisition_note ?? ''

                return (
                  <li class:list={["row", "align-baseline", { owned }]}>
                    {price && <p>{price}</p>}
                    <p set:html={text}></p>
                    {owned && <aside>{note}</aside>}
                  </li>
                )

              }
            })}
          </ul>
        )
      })}

    </main>

    <footer>

      <p>
        Inspired by <a href="https://taylor.town/wish-manifesto">&ldquo;Make a /wish page&rdquo; at taylor.town</a>, where Taylor talks about all the reasons he made one and how to go about it.
      </p>

    </footer>

	</body>
</html>

<style>
  /* Cascade **************************************************************************************/

  @import url(/css/reset.css);

  :root {
    font-size: 16px;
    color-scheme: light dark;
  }


  body {
    font-family: 'Inter', system-ui, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-size: 1.125rem;
  }

  @supports (font-variation-settings: normal) {
    body { font-family: InterVariable, system-ui, sans-serif; }
  }

  /* Composition **********************************************************************************/

  .row {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  
  /* Utility **************************************************************************************/

  .owned p { text-decoration: line-through; } /* Make a line through the stuff I own */
  
  .toc-link:has(+ .toc-link)::after { content: ', '; } /* Separate the table of contents links with commas */

  /* *** Tokens *******************/

  .align-baseline {
    align-items: baseline;
  }
  
  /* Block ****************************************************************************************/
  /* Exception ************************************************************************************/
</style>
