---
import { getCollection } from 'astro:content'
import { marked } from 'marked'

const categories = await 
  getCollection('categories')
  .then(categories => categories.sort(({ data: a }, { data: b }) => by_order(a.order, b.order) ??
                                                                    by_name(a.name!, b.name!)))
const wish_list = await
  getCollection('wish_list')
  .then(items => items.sort(({ data: a }, { data: b }) => by_category(a.category?.[0], b.category?.[0]) ??
                                                          by_parent(a.parent?.[0], b.parent?.[0]) ??
                                                          by_order(a.order, b.order) ??
                                                          by_price(a.price, b.price) ??
                                                          by_name(a.name!, b.name!)))

function by_category(a: string | undefined, b: string | undefined): number | undefined {
  if (a !== undefined && b !== undefined) {
    if (a < b) { return -1 }
    else if (a > b) { return 1 }
    else { return undefined }
  }
  else if (a !== undefined && b === undefined) { return -1 }
  else if (a === undefined && b !== undefined) { return 1 }
  else { return undefined }
}

function by_parent(a: string | undefined, b: string | undefined): number | undefined {
  if (a !== undefined && b !== undefined) {
    if (a < b) { return -1 }
    else if (a > b) { return 1 }
    else { return undefined }
  }
  else if (a !== undefined && b === undefined) { return -1 }
  else if (a === undefined && b !== undefined) { return 1 }
  else { return undefined }
}

function by_order(a: number | undefined, b: number | undefined): number | undefined {
  if (a !== undefined && b !== undefined) { return a - b === 0 ? undefined : a - b }
  else if (a !== undefined && b === undefined) { return -1 }
  else if (a === undefined && b !== undefined) { return 1 }
  else { return undefined }
}

function by_price(a: number | undefined, b: number | undefined): number | undefined {
  if (a !== undefined && b !== undefined) { return a - b === 0 ? undefined : a - b }
  else if (a !== undefined && b === undefined) { return -1 }
  else if (a === undefined && b !== undefined) { return 1 }
  else { return undefined }
}

function by_name(a: string, b: string): number {
  if (a < b) { return -1 }
  else if (a > b) { return 1 }
  else { return 0 }
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>/wish</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	</head>

	<body>

		<header>

      <h1>/wish</h1>

      <p>
        A collection of things around the internet (and off the internet) that I'd love to own. These are things I'd buy myself. Browse the whole list or jump to one of these categories:
      </p>
        
      {categories && 
      <ul class="toc">
      {categories.map(({ data: category }) => {
        const label = category.contents_name || category.name
        const anchor = category.anchor || category.contents_name || category.name
        
        return <li><a href={`#${anchor?.toLowerCase()}`}>{label?.toLowerCase()}</a></li>
      })}
      </ul>
      }

    </header>

    <main>

      {categories.map(({ id, data: category }) => {
        const anchor = category.anchor || category.contents_name || category.name
        let items = wish_list.filter(({ data: item }) => item.category?.[0] === id && !item.parent)

        return <>
          <h2 id={anchor?.toLowerCase()}>{category.name}</h2>

          {items.length > 0 &&
          <ul class:list={[{ inline: category.is_inline }]}>
            {items.map(async ({ id, data: item }) => {
              const text = await marked.parseInline(item.text ?? '')
              const children = wish_list
                .filter(({ data: child }) => child.parent?.[0] === id)
                .sort(({ data: a }, { data: b }) => by_order(a.order, b.order) ?? by_price(a.price, b.price) ?? by_name(a.name!, b.name!))

              return (
                <li class:list={[ "item", "row", "align-baseline", { owned: item.is_owned }]}>
                  {item.price && !category.is_inline && <p>{`$${item.price}`}</p>}
                  {!item.has_children
                    ? <p set:html={text}></p>
                    : <details>
                        <summary set:html={text}></summary>

                        {children.length > 0 &&
                        <ul>
                          {children.map(async ({ data: item }) => {
                            const text = await marked.parseInline(item.text ?? '')
                            return <li class:list={[ "child", "row", "align-baseline", { owned: item.is_owned }]} set:html={text}></li>
                          })}
                        </ul>
                        }
                      </details>
                  }
                  {item.is_owned && !category.is_inline && item.acquisition_note && <aside>{item.acquisition_note}</aside>}
                </li>
              )
            })}
          </ul>
          }
        </>
      })}

    </main>

    <footer>

      <p>
        Inspired by <a href="https://taylor.town/wish-manifesto">&ldquo;Make a /wish page&rdquo; at taylor.town</a>, where Taylor talks about all the reasons he made one and how to go about it.
      </p>

    </footer>

	</body>
</html>

<style>
  /* Cascade **************************************************************************************/

  @import url(/css/reset.css);

  :root {
    font-size: 16px;
    color-scheme: light dark;

    --strikethrough: line-through 2px hsl(0deg 0% 0% / 0.5);
  }


  body {
    font-family: 'Inter', system-ui, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-size: 1.125rem;
  }

  @supports (font-variation-settings: normal) {
    body { font-family: InterVariable, system-ui, sans-serif; }
  }

  /* Composition **********************************************************************************/

  .row {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 1rem;
  }
  
  /* Utility **************************************************************************************/

  /* Block ****************************************************************************************/

  .toc {
    padding: 0;
    
    li { display: inline; }
    li:has(+ li)::after { content: ', '; }
  }

  .item {
    &.owned {
      > p,
      details summary {
        text-decoration: var(--strikethrough);
      }
    }

    aside { font-size: 0.875rem; }
  }

  .child.owned {
    text-decoration: var(--strikethrough);
  }
  
  /* Exception ************************************************************************************/
</style>
